./simdiag.exe
output/
*.log
*.tmp
*.bak
*.old
*.diff
*.swp
*.DS_Store
.vscode/
.idea/
bin/
obj/
*.exe
*.dll
*.so
*.dylib
*.bkp
*.test
mapping_config.yaml
templates/base/*.bkp
mapping_config_*
run_simdiag_*
users/
dist/
tests/integration/testdata/*/output/